article {
    padding-left:20%;
    padding-right:20%;
}
p {
    font-size: 18;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4 {
    font-size: 20;
    font-style:italic;
    text-align: right;
    font-family:monospace;
}
h2 {
    font-size: 26;
    font-family:cursive;
    text-decoration:underline;
    text-align: left
}
h1 {
    padding-top: 0.5cm;
    padding-left:4%;
    font-family: cursive;
    font-style:italic !important;
    text-decoration: underline;
    
}
.light {
    color: black;
    margin: auto;
    width:80%;
    border-style:solid;
    border-color: black;
    border-width:30px;
    background-color: white;
    transition-duration: 1200ms;
}
.dark {
    color:white;
    margin: auto;
    width:80%;
    border-style:solid;
    border-color: white;
    border-width:30px;
    background-color: black;
    transition-duration: 1200ms;
}

.left {
    text-align: left !important;
    border-color: aqua;
}
.image{
    width:auto;
    max-width: 75%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.procaa {
    width: auto;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;  
}
.anticaa {
    width: auto;
    max-width: 75%;
    max-height: 300px;       
    margin-left: auto;
    margin-right: auto;
    display: block;   
}
.dragon {
    width:auto;
    max-width: 80%;
    height: auto;
    max-height: 400;
    
    
}
.joker{
    width:auto;
    height:auto;
    max-width: 80%;
    
}
.poem {
    text-align: center;
    
}
.claps {
    border-style: solid;
    border-width: 4px;
    background-color:lightsalmon;
    text-align: center !important;
    width: 70px;
    height:50;
    border-radius: 30px;
    margin-left: 7%;
    font-weight: bold;
    border-color: black;
    cursor: grab;
}
.claps:hover {
    background-color:deepskyblue;
}
.share {
    border-style: solid;
    border-width: 3px;
    background-color:limegreen;
    text-align: center !important;
    
    height:40px;
    margin-top: 0.7%;
    margin-bottom: auto;
    
    margin-right:7%;
    text-align: right;
    font-weight: bold;
    border-radius: 4px;
    border-color: forestgreen;
    float: right;
}
.share:hover {
background-color: rgb(33, 136, 33);
}

.mode1 {
    position: relative;
    float: right;
    text-align: center;
    width:100px;
    margin-right: 10%;
    height: 20px;
    background-color:black;
    border:solid;
    border-color: bisque;
    color:white;
    font-family:monospace;
    cursor: grab;
}
.mode1:hover {
    border-color: yellowgreen;
}

.mode2 {
    position: relative;
    float: right;
    font-family: monospace;
    text-align: center;
    width:100px;
    margin-right: 10%;
    height: 20px;
    background-color:white;
    border:solid;
    border-color: grey;
    color:black;
    cursor: grab;
}
.mode2:hover {
    border-color: crimson;
}
@media only screen and (max-width:920px) {
  #changemode {
      margin:none;
      padding:0%;
      font-size: 26;
  }  
  .joker {
      min-width:100%;
  }
  article {
      padding-left: 5%;
      padding-right: 5%;
  }
  .procaa {
      min-width:100%;
  }
}