
#sidebar{
    position: absolute;
  width:100px;
  color: rgba(101, 209, 191, 0.692);
    height:60%;
    background-color: hsla(173, 45%, 78%, 0.897);    
    transition:all 650ms linear;
    border:solid;
    border-width: 2px;
    border-color: black;
}
.closed {
     margin-left:-150px; 
    margin-top: -9px
}
.open {
     margin-left:-10px;  
    margin-top: -9px;
    opacity: 0.9;
}
#sidebar ul{
    padding: 0px;
    margin: 0px;
}
#sidebar ul li{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    padding-top: 20%;
    padding-bottom: 21%;
    list-style: none;
    text-align: center;
    height: 20.4px;
}
span {
    
    display: block;
    border:solid;
    width: 20px;
    height:0.1px;
    margin: 4px 7px;
   background-color: black;
}
.toggleopen {
  margin-left: 95px;
  transition:all 600ms linear;
}
.toggle {
  transition:all 600ms linear;
}
a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:whitesmoke;   /*check*/
    text-decoration: underline;
}
a:visited {
    color:black;
    text-decoration: none;
}
a:active {
    color: aqua;
}